sign_language_model.h5 filter=lfs diff=lfs merge=lfs -text
sign_language_model_landmark.h5 filter=lfs diff=lfs merge=lfs -text
sign_language_cnn_model.h5 filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
models/sign_language_cnn_model.h5 filter=lfs diff=lfs merge=lfs -text
models/best.pt filter=lfs diff=lfs merge=lfs -text
yolo_model_training/yolov8l.pt filter=lfs diff=lfs merge=lfs -text
